.wrapper{

width:min(900px,90%);

height:10px;

background:#ddd;

border-radius:30px;

overflow:hidden;

margin:35px auto;

}

.bar{

height:100%;

background:

linear-gradient(
90deg,
#8B0000,
#ff6b81
);

transition:.4s;

}