.card{

background:white;

border-radius:22px;

padding:26px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-6px);

}

.icon{

font-size:34px;

margin-bottom:16px;

}

.card h3{

margin:0;

font-size:15px;

color:#888;

}

.card h2{

margin-top:12px;

font-size:24px;

color:#ff5c8d;

}