.grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-bottom:45px;

}

.card{

background:white;

padding:28px;

border-radius:24px;

text-align:center;

box-shadow:

0 15px 35px rgba(0,0,0,.08);

transition:.3s;

}

.icon{

font-size:34px;

margin-bottom:12px;

}

.card h2{

margin:0;

font-size:38px;

color:#ff5c8d;

}

.card p{

margin-top:10px;

color:#777;

font-weight:600;

}

@media(max-width:900px){

.grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.grid{

grid-template-columns:1fr;

}

}